
<p><img src="http://localhost/xoops2.4.4/modules/wfchannel/images/wfchannel_slogo.png" align="left" title="WF-Channel" alt="WF-Channel" hspace="5" vspace="0" /></a></p>
<div style="margin-top: 10px; color: #33538e; margin-bottom: 4px; font-size: 16px; line-height: 16px; font-weight: bold; display: block;">WF-Channel version 2.06</div>
<div><strong>Release Date:</strong> Thursday 13.5.2010</div>
<div><strong>Author:</strong> John Neill</div>
<div>GPL see LICENSE</div>
</p>
<table id="xo-about-information" cellspacing="1" class="outer">
  <thead>
    <tr>
      <th colspan="2" scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td width="35%" class="head">&nbsp;</td>
    <td class="<{cycle values='even,odd'}>"></td>
  </tr>
 </tbody>
</table>